@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-stretch: normal;
  src: url('/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  font-stretch: normal;
  src: url('/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
}
